<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>News Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News Category</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment
    value="{{initialSelectecCategory}}"
    scrollable
    (ionChange)="onSegmentChanged($event)"
  >
    <ion-segment-button
      *ngFor="let category of categories"
      value="{{category}}"
    >
      <ion-label class="ion-text-capitalize"> {{category}} </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
